
#manage-page {
    padding: 20px;
    margin-bottom: 200px;
}

.main-text {
    margin-left: 40px;
}

#table-search {
    margin-top: 20px;
    margin-left: 60px;
    width: 250px;
}

.table-head th {
    padding: 8px;
}

#events-table-container {
    height: 440px;
    overflow-y: auto;
    margin: 20px auto;
    width: 90%;
}

#events-table {
    border: 2px solid #dee2e6;
}

#events-table tbody {
    width: 100%;
    display: table;
    cursor: pointer;
}

#events-table td {
    padding: 10px;
}

#add-button {
    margin-left: 60px;
    margin-top: 5px;
}