@model iNeedTickets.Models.Event

@{
    ViewData["Title"] = "EditEvent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <link href="~/css/admin/edit-event.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="edit-event-page">
        <h4 class="main-text">Edit event @Model.Name</h4>

        <label class="form-label">Event name:</label>
        <input id="name-field" value="@Model.Name" type="text" class="form-element form-control" />

        <label class="form-label">Description:</label>
        <textarea id="description-field" class="form-element form-control">@Model.Description</textarea>

        <label class="form-label">Tags:</label>
        <input id="tags-field" type="text" class="form-element form-control" />

        <div>
            <button id="submit-button" class="btn btn-primary">Save Changes</button>
            <button id="delete-button" class="btn btn-danger">Delete Event</button>
        </div>
    </div>

    <script>
        var eventId = @Model.Id;
    </script>
    <script src="~/js/edit-event.js"></script>
</body>
</html>


