
#about-page{
    padding: 15px;
}

#about-header{
    width: 100%;
    margin-bottom: 20px;
}

.main-text {
    margin-top: 20px;
    margin-left: 30px;
}

#about-body{
    padding: 10px;
    min-height: 400px;
}

.about-description{
    margin-left: 10px;
    margin-top: 10px;
}