
#categories-page {
    padding: 15px;
    margin-bottom: 50px;
}

#categories-header {
    width: 100%;
    margin-bottom: 20px;
    margin-left: 90px;
}


@media screen and (max-width: 767px) {
    #categories-header {
        margin: 10px;
    }
}