
#categories-page {
    padding: 15px;
}

#categories-header {
    width: 100%;
    margin-bottom: 20px;
    margin-left: 90px;
}

#events-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
}