
.event-wrapper {

    height: 320px;
}


.image-wrapper {

    width: 480px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    margin: 20px;
}

.details-wrapper {

    width: 40%;
    display: inline-block;
    margin: 20px;
}

.description-wrapper {

    margin: 20px;
    margin-left: 40px;
}

.event-banner {

    width:100%;
    height: 100%;
}



