
.top-wrapper {
    height: auto;
    width: 100%;
    margin: 30px;
}

.image-wrapper {
    width: auto;
    height: auto;
    display: inline-block;
    vertical-align: top;
}

.details-wrapper {
    width: auto;
    height: inherit;
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
    vertical-align: top;
}

.description-wrapper {
    margin: 20px;
    margin-left: 40px;
    display: block;
}

.event-banner {
    width: 600px;
    height: 400px;
}

.details-section p {
    margin: 10px;
}

.bottom-event-wrapper {
    margin-top: 20px;
    margin-bottom: 60px;
}

#type-picker {
    margin: 10px 0 20px 10px;
    padding: 5px;
    display: block;
    border-radius: 3px;
}

#number-picker {
    margin: 0 0 15px 20px;
    padding: 5px;
    border-radius: 3px;
}

#ticket-nr-label {
    margin-left: 15px;
}

#buy-button {

    margin-left: 20px;
    width: 80px;
}

#tickets-alert {
    visibility: hidden;
    font-size: 14px;
    color: #ff6677;
    margin-left: 10px;
}

#total-price {
    display: block;
    margin: 15px;
}

#map-toggle {
    color: #2FA4E7;
    font-size: 14px;
    text-decoration: underline;
    margin-left: 5px;
    cursor: pointer;
}

#map-global-container {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 30;
    top: 0;
    left: 0;
}

#confirm-purchase-global-container {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 30;
    top: 0;
    left: 0;
}

.background-shadow {
    background-color: #555;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.event-popup {
    background-color: #fff;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 600px;
    height: 400px;
    margin: 0 auto;
    z-index: 101;
    top: 20%;
    left: 0;
    right: 0;
}

.close-popup-button {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #fff;
    z-index: 500;
    opacity: 0.8;
    border-radius: 5px;
    top: 0px;
    right: 0px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
}

#map-container {
    height: 95%;
    width: 96%;
}

#event-map {
    display: block;
    width: 100%;
    height: 100%;
}

#confirm-header {
    position: absolute;
    top: 40px;
    left: 60px;
}

#confirm-message {
    position: absolute;
    top: 100px;
    left: 60px;
}

#popup-price-tag {
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    top: 100px;
    right: 120px;
}

#confirm-button {
    position: absolute;
    bottom: 40px;
    right: 60px;
}

#loading-spinner {
    visibility: hidden;
    position: absolute;
    bottom: 40px;
    right: 20px;
    height: 30px;
    width: 30px;
}

#success-buttons {
    display: none;
    position: absolute;
    bottom: 40px;
    right: 60px;
}

#purchase-success-message {
    display: none;
    position: absolute;
    bottom: 100px;
    right: 80px;
}

#purchase-error-message {
    display: none;
    position: absolute;
    bottom: 100px;
    right: 80px;
    color: #ff6677;
}

#popup-price-total {
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 160px;
    left: 60px;
}


@media screen and (max-width: 767px) {
    .details-wrapper {
        margin-top: 30px;
        margin-left: 0;
        display: block;
    }
    .event-banner {

        width: 90%;
        height: auto;
    }

    .top-wrapper {
        margin: 15px;
    }

    .event-popup {
        width: 300px;
        height: 200px;
    }

    #confirm-header {
        font-size: 16px;
        top: 15px;
        left: 20px;
    }

    #confirm-message {
        font-size: 14px;
        top: 40px;
        left: 20px;
    }

    #popup-price-tag {
        top: 60px;
        right: 25px;
    }

    #confirm-button {
        bottom: 10px;
        right: 15px;
    }

    #loading-spinner {
        bottom: 10px;
        right: 5px;
    }

    #success-buttons {
        bottom: 10px;
        right: 15px;
    }

    #purchase-success-message {
        font-size: 14px;
        bottom: 45px;
        right: 10px;
    }

    #purchase-error-message {
        bottom: 25px;
        right: 20px;
    }

    #popup-price-total {
        top: 110px;
        left: 20px;
    }

    /*for mobile only*/ 
}