
.top-wrapper {

    height: auto;
    width: 100%;
    margin: 30px;
}

.image-wrapper {

    width: auto;
    height: auto;
    display: inline-block;
    vertical-align: top;
}

.details-wrapper {

    width: auto;
    height: inherit;
    display: inline-block;
    margin-left: 30px;
    margin-top: 10px;
    vertical-align: top;
}

.description-wrapper {

    margin: 20px;
    margin-left: 40px;
    display: block;
}

.event-banner {

    width: 600px;
    height: 400px;
}

.details-section p {

    margin: 10px;
}

.bottom-event-wrapper {

    margin-top: 20px;
}

#type-picker {

    margin: 10px 0px 20px 10px;
    padding: 5px;
    display: block;
}

#number-picker {

    margin: 0px 0px 15px 20px;
    padding: 5px;
}

#ticket-nr-label {

    margin-left: 15px;
}

.buy-button {

    display: block;
    margin-left: 20px;
    width: 80px;
}

#total-price {

    display: inline-block;
    margin: 15px;
}



@media screen and (max-width: 720px) {

    .details-wrapper {

        margin-top: 30px;
        margin-left: 0px;
        display: block;
    }

    .event-banner {

        width: 480px;
        height: 320px;
    }

    /*for mobile only*/ 
}