
.events-area {
    padding: 15px;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#main-events-area {
    margin: 30px;
}

.main-text {
    margin-left: 40px;
}

@media screen and (max-width: 767px) {

    #upcoming-events {
        margin-left: 2%;
    }

    .main-text {
        margin-left: 10px;
    }
}