
#main-events-area {
    margin: 30px;
    margin-bottom: 100px;
}

.main-text {
    margin-left: 40px;
}

@media screen and (max-width: 767px) {

    #upcoming-events {
        margin-left: 2%;
    }

    .main-text {
        margin-left: 2px;
    }
}