/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 99.5%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

/*My css begins here*/

.categories-bar {
    display: flex;
    background-image: linear-gradient(white, #ebeff3 60%, #e2e6ea);
    width:100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    padding: 0 240px;
}

#search-box {
    width: 270px;
    transition: 500ms;
}

#search-button:disabled {
    opacity: 0.8;
}

.categories-link {

    vertical-align: middle;
    margin: 0 40px;
    width: inherit;
    text-align: center;
    white-space: nowrap;
    color: #111;
}

.categories-link:hover {

    color: #666;
    text-decoration: none;
}

#search-form {
    flex-flow: row nowrap;
}

@media screen and (max-width: 1023px) {

    #search-box {
        max-width: 150px !important;
    }
}

@media screen and (max-width: 767px) {

    .categories-bar {
        padding: 0 10px;
    }

    .categories-link {
        margin: 0 8px;
    }
}