
#ticket-details-header{
    margin: 20px;
}

#download-link {
    display: block;
    margin-top: 10px;
    margin-left: 30px;
    font-size: 18px;
}

#ticket-image {
    width: 400px;
    height: auto;
    margin: 20px;
}

@media screen and (max-width: 767px) {
    #ticket-image {
        width: 90%;
        height: auto;
    }
}