
@{
    ViewData["Title"] = "About";
}


<html>

<head>
    <link href="~/css/home.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="main-page">
        <h4 class="main-text">About</h4>

        <p>iNeedTickets is your best and fastest online ticket selling website. Bringing tickets for your favourite events only a few clicks away!</p>
    </div>
</body>

</html>