
@{
    ViewData["Title"] = "About";
}

<html>

<head>
    <link href="~/css/about.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="about-page">
        <div id="about-header">
            <h4 class="main-text">About</h4>
        </div>
        <div id="about-body" class="border-top">
            <p class="about-description">iNeedTickets is your best and fastest online ticket selling website. Bringing tickets for your favourite events only a few clicks away!</p>
            <p class="about-description">Developed by Mihail Georgescu.</p>
        </div>
    </div>
</body>

</html>