
@{
    ViewData["Title"] = "Contact";
}

<html>

<head>
    <link href="~/css/contact.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="contact-page">
        <div id="contact-header">
            <h4 class="main-text">Contact</h4>
        </div>
        <div id="contact-body" class="border-top">
            <div id="contact-details">
                <p class="contact-text">Contact us!</p>
                <p class="contact-text">Phone number: 1177.777.888</p>
                <p class="contact-text">Email: ineedtickets_service@outlook.com</p>
                <p class="contact-text">Address: Strada Liviu Rebreanu</p>
            </div>
            <div id="contact-map"></div>
        </div>
    </div>

    <script src="~/js/contact.js"></script>
</body>

</html>


