@model IEnumerable<iNeedTickets.Models.Event>

@{
    ViewData["Title"] = "Home Page";
}

<html>

<head>
    <link href="~/css/home.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <div id="main-page">

        <div id="upcoming-area">

            <h4 class="main-text">Upcoming events:</h4>

            <div id="upcoming-events" class="border-top border-bottom">

                 @foreach (var e in Model) {

                <div class="event-wrapper border text-center mx-2 my-3">
                    <div class="event-hover-shadow" onclick="handleEventClick(@e.Id)"></div>
                    <a href="/events/event/@e.Id"><img class="event-banner mb-1" src="~/img/@e.PhotoLink" alt="Event banner" /></a>
                    <a class="event-title" href="/events/event/@e.Id">@e.Name</a>
                    <p class="event-date">@e.Date.ToString("dd'/'MM'/'yyyy")</p>
                    <p class="event-location float-right mr-3">@e.Location.Name</p>
                </div>
                 }
            </div>
        </div>
    </div>
    <script>
        function handleEventClick(id) {
            window.location.href = `/events/event/${id}`;
        }
    </script>
</body>

</html>
