@model IEnumerable<iNeedTickets.Models.Event>

@{
    ViewData["Title"] = "Home Page";
}

<html>

<head>
    <link href="~/css/main.css" rel="stylesheet" type="text/css" />
    <link href="~/css/index.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <div id="main-page">

        <div id="upcoming-area">

            <h2>Upcoming events:</h2>

            <div id="upcoming-events">

                 @foreach (var e in Model) {

                <div class="event-wrapper border text-center m-2">

                    <a href="/events/event/@e.id"><img class="event-banner mb-1" src="~/img/@e.photoLink" alt="Event banner" /></a>
                    <a class="event-title" href="/events/event/@e.id">@e.name</a>
                    <p class="event-date">@e.date.ToString("dd/mm/yyyy")</p>
                    <p class="event-location float-right mr-3">@e.location</p>

                </div>
                 }
            </div>
        </div>
    </div>
</body>

</html>
