<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - iNeedTickets</title>

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow"
             >
            <div class="container">
                <a style="white-space:nowrap;" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">iNeedTickets</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse-content" aria-controls="#collapse-content"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse" id="collapse-content">
                    <ul class="navbar-nav mr-5">
                        <li class="nav-item">
                            <a class="nav-link ml-2" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ml-2" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ml-2" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                    </ul>
                    <form asp-controller="Search" asp-action="Index" class="form-inline mr-auto" id="search-form" method="get">
                        <input type="text" class="form-control" name="query" id="search-box" placeholder="Type a name, location, etc..." />
                        <input type="submit" class="btn btn-secondary ml-2" id="search-button" value="Search" />
                    </form>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a style="white-space:nowrap;" class="nav-link" asp-area="" asp-controller="" asp-action="">Sign In</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="categories-bar">
            <a href="" class="categories-link">Concerts</a>
            <a href="" class="categories-link">Theatre</a>
            <a href="" class="categories-link">Sports</a>
            <a href="" class="categories-link">Stand-up</a>
            <a href="" class="categories-link">Art</a>
        </div>
    </header>
    <div class="container">
        @*<partial name="_CookieConsentPartial" />*@
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - iNeedTickets - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
