@model Ticket

@{
    ViewData["Title"] = "Ticket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
    <head>
        <link href="~/css/ticket.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h4 id="ticket-details-header" class="main-text">Ticket details:</h4>
        <a id="download-link" href="@Url.Action("TicketPhoto", "Account", new { fileName = Model.FileName })" download="@Model.FileName">
            Click here to download the ticket
        </a>
        <img id="ticket-image" src="@Url.Action("TicketPhoto", "Account", new { fileName = Model.FileName })" alt="Ticket Image" />
    </body>
</html>