@model IEnumerable<iNeedTickets.Models.Ticket>

@{
    ViewData["Title"] = "UserTickets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>

    <head>
        <link href="~/css/usertickets.css" rel="stylesheet" type="text/css" />
    </head>

    <body>

        <div id="purchased-tickets-page">
            @if (Model.ToList().Count > 0)
            {
                <h4 class="main-text">Your purchased tickets:</h4>
                <div id="ticket-list-container">
                    <table id="tickets-table" class="table-responsive table-bordered table-striped table-hover">
                        @foreach (var ticket in Model)
                        {
                            <tr>
                                <td>
                                    <a class="ticket-link" href="/account/ticket/@ticket.Id">
                                        @ticket.TicketClassRef.EventRef.Name - @ticket.TicketClassRef.AreaName - @ticket.TicketClassRef.EventRef.Date
                                    </a>
                                </td>
                            </tr>
                        }
                        </table>
                </div>
            }
            else
            {
                <div>You don't have any purchased tickets yet!</div>
            }
        </div>
    </body>
</html>
